.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    left:0;
    top:0;
    transform: translateX(-100%);
    background-color: #f5f2f0;
    border-right: 1px solid #d5d2d0;
    float:left;
    transition: transform 0.5s;
}
.sidebar_opened{
    transform: translateX(0%);
}